<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">``
        <![endif]-->
        <title>Shopfine, premium HTML5&AMP;CSS3 ecommerce template</title>
        <meta name="description" content="Shopfine, premium HTML5&amp;CSS3 template">
        <meta name="author" content="MosaicDesign">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet/less" type="text/css" href="{{url_template_frontend}}css/theme-style.less">
        <link rel="stylesheet" href="{{url_template_frontend}}css/ie.style.css">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{url_template_frontend}}css/font-awesome-ie7.css">
        <![endif]-->
        <script src="{{url_template_frontend}}js/vendor/modernizr.js"></script>
        <!--[if IE 8]><script src="{{url_template_frontend}}js/vendor/less-1.3.3.js"></script><![endif]-->
        <!--[if gt IE 8]><!--><script src="{{url_template_frontend}}js/vendor/less.js"></script><!--<![endif]-->

    </head>
    <body>
        <!-- Header-->
        <header class="header">
            <div class="header-top-row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="top-welcome ">
                                <p> <span class=" hidden-sm">Welcome to Shopfine Template &nbsp; </span><i class="fa fa-phone"></i> 707-505-8008 &nbsp; <i class="fa fa-envelope"></i> support@gmail.com</p> 
                            </div>

                        </div>
                        <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-4">
                            <div class="pull-right">
                                <!-- header - language -->
                                <div id="lang" class="pull-right">
                                    <a href="#" class="lang-title"><img src="{{url_template_frontend}}img/f-gb.png" alt="English" title="English"> English <i class="fa fa-angle-down"></i> </a>
                                    <ul class="list-unstyled lang-item">
                                        <li class="active"><a href=""><img src="{{url_template_frontend}}img/f-gb.png" alt="English" title="English"> Spanish</a></li>
                                        <li><a href=""><img src="{{url_template_frontend}}img/f-fr.png" alt="French" title="French"> French</a></li>
                                    </ul>
                                </div>
                                <!-- /header - language -->

                                <!-- header - currency -->
                                <div id="currency" class="pull-right">
                                    <a href="" class="currency-title">$ USD <i class="fa fa-angle-down"></i> </a>
                                    <ul class="list-unstyled currency-item">
                                        <li><a href="">€ EURO</a></li>
                                        <li><a href="">£ POUND</a></li>
                                    </ul>
                                </div>
                                <!-- /header - currency -->

                                <!-- header-account menu -->
                                <div id="account-menu" class="pull-right">
                                    <a href="" class="account-menu-title"><i class="fa fa-user"></i>&nbsp; Account <i class="fa fa-angle-down"></i> </a>
                                    <ul class="list-unstyled account-menu-item">
                                        <li><a href=""><i class="fa fa-heart"></i>&nbsp; Wishlist</a></li>
                                        <li><a href=""><i class="fa fa-check"></i>&nbsp; Checkout</a></li>
                                        <li><a href=""><i class="fa fa-shopping-cart"></i>&nbsp; Cart</a></li>
                                    </ul>
                                </div>
                                <!-- /header-account menu -->
                            </div>

                        </div>
                    </div>




                </div>
            </div>
            <!-- /header-top-row -->
            <div class="header-bg">
                <div class="header-main" id="header-main-fixed">
                    <div class="header-main-block1">
                        <div class="container">
                            <div id="container-fixed">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <a href="/" class="header-logo"> <img src="{{url_template_frontend}}img/logo-big-shop-dark.png" alt=""></a>        
                                    </div>
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <p class="login pull-right">  <i class="fa fa-sign-in"></i> <a href="">Login</a>  <i class="fa fa-pencil-square"></i> <a href="">Register</a></p>

                                    </div>
                                    <div class="col-md-5 ">
                                        <div class="top-search-form pull-left">
                                            <form action="#" method="post">
                                                <input type="text" placeholder="Search ..." class="form-control">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>  
                                        </div>        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="header-main-block2">
                        <nav class="navbar yamm  navbar-main" role="navigation">

                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                    <a href="/" class="navbar-brand"><i class="fa fa-home"></i></a>
                                </div>
                                <div class="top-icon-block relative">
                                    <div class="header-mini-cart dark pull-right">
                                        <a href="{{url_template_frontend}}#" class="mini-card-icon"  data-toggle="dropdown" title="Card"><i class="fa fa-shopping-cart"></i><span>2</span></a>
                                        <div class="dropdown-menu shopping-cart-content pull-right fadeIn-Up  animatedMini">
                                            <div class="shopping-cart-items">
                                                <div class="item pull-left">
                                                    <img src="{{url_template_frontend}}img/preview/product1-70.jpg" alt="Product Name" class="pull-left" />
                                                    <div class="pull-left">
                                                        <p>Product Name</p>
                                                        <p>$251.00&nbsp;<strong>x 3</strong></p>
                                                    </div>
                                                    <a href="{{url_template_frontend}}" class="trash"><i class="fa fa-trash-o pull-left"></i></a>
                                                </div>

                                                <div class="item pull-left">
                                                    <img src="{{url_template_frontend}}img/preview/product3-70.jpg" alt="Product Name" class="pull-left" />
                                                    <div class="pull-left">
                                                        <p>Product Name</p>
                                                        <p>$50.10&nbsp;<strong>x 8</strong></p>
                                                    </div>
                                                    <a href="{{url_template_frontend}}" class="trash"><i class="fa fa-trash-o pull-left"></i></a>
                                                </div>
                                                <div class="total pull-left">
                                                    <a href="{{url_template_frontend}}#" class="read-more pull-right">Checkout</a>
                                                    <a href="{{url_template_frontend}}#" class="read-more pull-right">Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="navbar-collapse-1" class="navbar-collapse collapse ">
                                    <ul class="nav navbar-nav ">
                                        <li><a href="/">Trang chủ</a></li>
                                        <li class="dropdown with-dropdown">
                                            <a href="{{url_template_frontend}}#" data-toggle="dropdown" class="dropdown-toggle">
                                                Sản phẩm <i class="fa fa-caret-right fa-rotate-45"></i>
                                            </a>
                                            <ul class="dropdown-menu list-unstyled  fadeIn-Up  animatedMini">
                                                <li>
                                                    <a  href="{{url_template_frontend}}index1.html"> Home Page 1 </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>

                    </div>
                </div>

                <!-- /header-main-menu -->
            </div>
        </header>
        <!-- End header -->
        <section>
            <div class="top-header-m-bg dark"></div>
            <div class="home-block">
                <div class="container">
                    <div class="row">
                        {% block content_page %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <!-- ===========================================
        =====        Blog section               ====
        ============================================ -->
        <section>
            <div class="block-blog item1">
                <div class="blog-item-container block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <article class="blog-item">
                                    <h1>Started: Glasses Sale</h1>
                                    <p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu lit anim id est laborum.
                                    </p>
                                    <a href="" class="read-more">More details</a>
                                    <div class="blog-item-date">
                                        <p class="month">Dec</p>
                                        <p class="day">01</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>


        <!-- ===========================================
        =====        footer section               ====
        ============================================ -->        
        <footer id="footer-block">
            <div class="footer-information">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="inner-block">
                                <img alt="" class="img-responsive" src="{{url_template_frontend}}img/logo-big-shop-dark.png">
                                <br>
                                <p>
                                    We are <a href="">MosaicDesign</a> group and we make modern, creative templetes. Our team created Responsive Premiuem E-commerce template 
                                </p>
                                <p>
                                    <a href="">Copyright © 2014</a> Shopfine | MosaicGroup. Designed by <a href="http://mosaicdesign.uz" target="_blank">Mosaic Design</a> All rights reserved. <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="inner-block">
                                <div class="header-footer">
                                    <h3>Information</h3>
                                </div>
                                <ul class="footer-categories list-unstyled">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Site Map</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="inner-block">
                                <div class="header-footer">
                                    <h3>Address</h3>
                                </div>
                                <ul class="footer-categories list-unstyled">
                                    <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow, Seattle, WA 98122-1090</li>
                                    <li><i class="fa fa-phone"></i>&nbsp; 9 - 876 - 543 - 210 </li>
                                    <li><i class="fa fa-print"></i>&nbsp; 1 - 234 - 567 - 890</li>
                                    <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i>&nbsp; info@yourdomain.com</a></li>
                                    <li><a href="mailto:support@yourdomain.com"><i class="fa fa-envelope"></i>&nbsp; support@yourdomain.com</a></li>
                                    <li><a href=""><i class="fa fa-thumb-tack"></i>&nbsp;&nbsp; Location in Google Maps</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="inner-block">
                                <form class="form-horizonta">
                                    <input class="form-control" placeholder="Name" name="name">
                                    <input class="form-control" placeholder="E-mail" name="email">
                                    <textarea class="form-control" placeholder="I want ..."></textarea>
                                    <input type="submit" class="btn-default dark" value="Send us">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copy">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="socials">
                                <a href="#"><i class="fa fa-skype"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div> 

                        </div>
                        <div class="col-md-6">
                            <ul class="footer-payments pull-right">
                                <li><img src="{{url_template_frontend}}img/payment-maestro.jpg" alt="payment" /></li>
                                <li><img src="{{url_template_frontend}}img/payment-discover.jpg" alt="payment" /></li>
                                <li><img src="{{url_template_frontend}}img/payment-visa.jpg" alt="payment" /></li>
                                <li><img src="{{url_template_frontend}}img/payment-american-express.jpg" alt="payment" /></li>
                                <li><img src="{{url_template_frontend}}img/payment-paypal.jpg" alt="payment" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Section footer -->
        <script src="{{url_template_frontend}}js/vendor/jquery.js"></script>
        <script src="{{url_template_frontend}}js/vendor/jquery.easing.1.3.js"></script>
        <script src="{{url_template_frontend}}js/vendor/bootstrap.js"></script>

        <script src="{{url_template_frontend}}js/vendor/jquery.flexisel.js"></script>
        <script src="{{url_template_frontend}}js/vendor/wow.min.js"></script>
        <script src="{{url_template_frontend}}js/vendor/jquery.transit.js"></script>
        <script src="{{url_template_frontend}}js/vendor/jquery.jcountdown.js"></script>
        <script src="{{url_template_frontend}}js/vendor/jquery.appear.js"></script>        
        <script src="{{url_template_frontend}}js/vendor/owl.carousel.js"></script>
        <script src="{{url_template_frontend}}js/vendor/jquery.ticker.js"></script>

        <script src="{{url_template_frontend}}js/vendor/responsiveslides.min.js"></script>
        <script src="{{url_template_frontend}}js/vendor/jquery.elevateZoom-3.0.8.min.js"></script>
        <script src="{{url_template_frontend}}js/vendor/jquery-ui.js"></script>
        <!-- jQuery REVOLUTION Slider  -->
        <script type="text/javascript" src="{{url_template_frontend}}js/vendor/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="{{url_template_frontend}}js/vendor/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="{{url_template_frontend}}js/vendor/jquery.scrollTo-1.4.2-min.js"></script>

        <!-- Custome Slider  -->
        <script src="{{url_template_frontend}}js/main.js"></script>

        <!--Here will be Google Analytics code from BoilerPlate-->


        <!-- ========================================================
        =====================   Modal   =============================
        ==========================================================-->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3>Shopfine Winter Coat / MusaicDesign / ShopFine</h3>
                    </div>
                    <div class="modal-body">
                        <div class="block-product-detail">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                    <div class="product-image">
                                        <img id="product-zoom"  src='img/preview/product/small/product3.jpg' data-zoom-image="img/preview/product/large/product3.jpg" alt="">
                                        <div id="gal1">

                                            <a href="javascript:;" data-title="Product name" data-image="img/preview/product/small/product1.jpg" data-zoom-image="img/preview/product/large/product1.jpg">
                                                <img  src="{{url_template_frontend}}img/preview/product/thumb/product1.jpg" alt="">
                                            </a>

                                            <a href="javascript:;" data-title="Product name" data-image="img/preview/product/small/product2.jpg" data-zoom-image="img/preview/product/large/product2.jpg">
                                                <img src="{{url_template_frontend}}img/preview/product/thumb/product2.jpg"  alt="">
                                            </a>

                                            <a href="javascript:;" data-title="Product name"  data-image="img/preview/product/small/product3.jpg" data-zoom-image="img/preview/product/large/product3.jpg">
                                                <img  src="{{url_template_frontend}}img/preview/product/thumb/product3.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                    <div class="product-detail-section">
                                        <div class="header-for-light">
                                            <h3>Shopfine Winter Coat</h3>
                                            <div class="product-rating">
                                                <div class="stars">
                                                    <span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-information">
                                            <div class="clearfix"> 
                                                <label class="pull-left">Brand:</label> <a href="#">MusaicDesign</a><br>
                                            </div>
                                            <div class="clearfix"> 
                                                <label class="pull-left">Product Code:</label> ID 175482451
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left">Description:</label>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left">Size:</label>
                                                <select name="size" class="form-control">
                                                    <option value="" selected="selected">...</option>
                                                    <option value="1">L</option>
                                                    <option value="2">XL</option>
                                                    <option value="3">XLL</option>
                                                </select>
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left">Price:</label>
                                                <p class="product-price">$450.99</p>
                                            </div>

                                            <div class="clearfix">
                                                <label class="pull-left">Quantity:</label>
                                                <input type="number" class="form-control">
                                            </div>
                                            <div class="product-icons">
                                                <div class="product-icon">
                                                    <a href="#" class="product-card-icon" title="Add to Cart"><i class="ion-ios-cart-outline"></i> Add to Cart</a>
                                                </div>
                                                <div class="product-icon">
                                                    <a href="#" class="product-compare" title="Compare"><i class="ion-ios-shuffle"></i></a>
                                                </div>
                                                <div class="product-icon">
                                                    <a href="#" class="product-wishlist" title="Wishlist"><i class="ion-ios-heart-outline"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn-default">Continue</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        {% block custom_js %}{% endblock %}


        <script>
            //============ ============  ============  ============ 
            //
                $("body").append("<div id='dialog'></div>");

                $(document).keydown(function(event) {
                    // F1
                    if(event.which==112){
                        localStorage.clear();
                        $("#dialog").attr("title","Alert");
                        $("#dialog").html("Cleared less");
                        $("#dialog").dialog({
                              show: {
                                effect: "slide",
                                duration: 200
                              },
                              hide: {
                                effect: "slide",
                                duration: 200
                              }
                        });
                        window.setTimeout(function(){$("#dialog").dialog("close");},1000);
                        return false;
                    }
                });
            //
            //============ ============  ============  ============ 
        </script>
        <script ></script>
        <style>
.button_debug,.debug_mode {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    padding: 10px;
    z-index: 133;
}
.debug_mode {
    display: none;
    top: 45px;
    right: 3px;
    box-shadow: 0 0 11px #ccc;
}

        </style>
        <button class="button_debug"> Debug</button>
        <div class="debug_mode">
            <div class="last_query">
                <h3>Last Query: </h3>
                <p>{{last_query|raw}}</p>
            </div>
        </div>
        <script>

        // $(location).attr('host');                        www.test.com:8082
        // $(location).attr('hostname');                    www.test.com
        // $(location).attr('port');                        8082
        // $(location).attr('protocol');                    http
        // $(location).attr('pathname');                    index.php
        // $(location).attr('href');                        http://www.test.com:8082/index.php#tab2
        // $(location).attr('hash');                       #tab2
        // $(location).attr('search');                     ?foo=123
        
        $(".sublinks a[href='"+$(location).attr('pathname')+"']").parents(".sublinks").show();
        $(".sublinks a[href='"+$(location).attr('pathname')+"']").addClass('active');
        
        $(".sublinks a[href='"+$("div.current_cat").data("id")+"']").parents(".sublinks").show();
        $(".sublinks a[href='"+$("div.current_cat").data("id")+"']").addClass('active');
        
        //$(".list-group-item collapsed a[href*='"+$(location).attr('pathname')+"')").parents(".sublinks").show();
        $(".button_debug").click(function(event) {
            $(".debug_mode").toggle();
        });
        </script>
    </body>
</html>
