{% extends 'frontend.twig' %}


{% block title_page %}
	Chào mừng bạn tới shop
{% endblock %}


{% block content_page %}
			{% include "_includes/sidebar_product.twig" %}
			<div class="col-md-9 col-sm-8">
				<div class="block-products-modes">
					<div class="row">
						<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
							<div class="product-view-mode">
								<a href="products-grid.html" class="active"><i class="fa fa-th-large"></i></a>
								<a href="products-list.html"><i class="fa fa-th-list"></i></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
							<div class="row">
								<div class="col-md-3 col-sm-3 col-md-offset-1">
									<label class="pull-right">Sort by</label>
								</div>
								<div class="col-md-5 col-sm-6">
									<select name="sort-type" class="form-control">
										<option value="position:asc">--</option>
										<option value="price:asc" {% if session.sorttype=="price:asc" %}selected="selected"{% endif %}>Price: Lowest first</option>
										<option value="price:desc" {% if session.sorttype=="price:desc" %}selected="selected"{% endif %}>Price: Highest first</option>
										<option value="name:asc" {% if session.sorttype=="name:asc" %}selected="selected"{% endif %}>Product Name: A to Z</option>
										<option value="name:desc" {% if session.sorttype=="name:desc" %}selected="selected"{% endif %}>Product Name: Z to A</option>
										<option value="id:asc" {% if session.sorttype=="id:asc" %}selected="selected"{% endif %}>ID Lowest first</option>
										<option value="id:desc" {% if session.sorttype=="id:desc" %}selected="selected"{% endif %}>In Highest first</option>
									</select>
								</div>
								<div class="col-md-3 col-sm-3">
									<select name="products-per-page" class="form-control">
										<option value="10" selected="selected">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="100">100</option>
										<option value="all">All</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hidden">
					{% embed "_includes/ele_product.twig" %}
						{% block title %}{{item.name}}{% endblock %}
						{% block img %}
							{% if item.product_images %}
								<img src="{{item.product_images.0.path_img}}" onError="this.src='http://placehold.it/100x100'">
							{% endif %}
						{% endblock %}
						{% block desc %}{{item.description|raw}}{% endblock %}
					{% endembed %}
				</div>
				<div class="row">
					{% for item in rs %}
					<div class="col-md-4 col-sm-6 no-pad">
						<article class="product">
							<figure class="figure-hover-overlay rentengle">
								<a href="/products/detail/{{item.id}}"  class="figure-href"></a>
								<a href="#" class="product-compare" title="Compare"><i class="ion-ios-shuffle"></i></a>
								<a href="#" class="product-wishlist" title="Wishlist"><i class="ion-ios-heart-outline"></i></a>
								<a href="#" class="product-cart" title="Add to Cart"><i class="ion-ios-cart-outline"></i> </a>
								<img class="img-overlay img-responsive" src="{{item.product_images.0.path_img}}" alt="" title="" onError="this.src='http://placehold.it/200x200 '">
								<img class="img-responsive" src="{{item.product_images.0.path_img}}" alt="" title="" onError="this.src='http://placehold.it/200x200 '">
							</figure>
							<div class="product-caption">
								<div class="block-name">
									<a href="/products/detail/{{item.id}}" class="product-name"> {{item.name}}</a>
									<div class="product-rating">
										<div class="stars">
											<span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
										</div>
									</div>
									<p class="product-price"> {{item.price|number_format}} VND</p>

								</div>
							</div>
						</article>
					</div>
					{% endfor %}
				</div>
				<div class="block-pagination">
					{{pagination|raw}}
					<ul class="pagination hidden">
						<li><a href="#">«</a></li>
						<li><a href="#">1</a></li>
						<li class="active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">»</a></li>
					</ul>
				</div>
			</div>

			
{% endblock %}


{% block custom_css %}

{% endblock %}


{% block custom_js %}
<script>
	$("[name='products-per-page']").change(function(event) {

		location.href=location.href.split('?')[0]+"?perpage="+$(this).val();
	});
	$("[name='sort-type']").change(function(event) {
		location.href=location.href.split('?')[0]+"?sorttype="+$(this).val();
	});
</script>
{% endblock %}
