{% extends 'frontend.twig' %}


{% block title_page %}
	Chào mừng bạn tới shop
{% endblock %}


{% block content_page %}

					{% include "_includes/sidebar_product.twig" %}
						<div class="current_cat" data-id="/category/{{rs.categories.slug}}"></div>
						<div class="col-md-9 col-sm-8">
							<div class="block-product-detail">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="product-image">
											<img id="product-zoom"  src='{{rs.product_images.0.path_img}}' data-zoom-image="{{rs.product_images.0.path_img}}" alt="">
											<div id="gal1">
												<a href="{{rs.product_images.0.path_img}}" data-lightbox="product" data-title="Product name" data-image="{{rs.product_images.0.path_img}}" data-zoom-image="{{rs.product_images.0.path_img}}">
													<img  src="{{rs.product_images.0.path_img}}" alt="">
												</a>

												<a href="{{rs.product_images.0.path_img}}" data-lightbox="product" data-title="Product name" data-image="{{rs.product_images.0.path_img}}" data-zoom-image="{{rs.product_images.0.path_img}}">
													<img src="{{rs.product_images.0.path_img}}"  alt="">
												</a>

												<a href="{{rs.product_images.0.path_img}}" data-lightbox="product" data-title="Product name"  data-image="{{rs.product_images.0.path_img}}" data-zoom-image="{{rs.product_images.0.path_img}}">
													<img  src="{{rs.product_images.0.path_img}}" alt="">
												</a>
											</div>
										</div>

									</div>
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="product-detail-section">
											<div class="header-for-light">
												<h3>{{rs.name}}</h3>
												<div class="product-rating">
													<div class="stars">
														<span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
													</div>
												</div>
											</div>
											<div class="product-information">
												<div class="clearfix hidden"> 
													<label class="pull-left">Brand:</label> <a href="#">MusaicDesign</a><br>
												</div>
												<div class="clearfix  hidden"> 
													<label class="pull-left">Collection:</label> Effect collection
												</div>
												<div class="clearfix"> 
													<label class="pull-left">Product Code:</label> ID 175482451
												</div>
												<div class="clearfix  hidden">
													<label class="pull-left">Size:</label>
													<select name="size" class="form-control">
														<option value="" selected="selected">...</option>
														<option value="1">L</option>
														<option value="2">XL</option>
														<option value="3">XLL</option>
													</select>
												</div>
												<div class="clearfix hidden">
													<label class="pull-left">Availability:</label>
													<p>150 in stock</p>
												</div>
												<div class="clearfix ">
													<label class="pull-left">Description:</label>
													<p class="description">{{rs.description|raw}}</p>
												</div>
												<div class="clearfix">
													<label class="pull-left">Price:</label>
													<!-- <p class="product-price"><span>$469.99</span> $450.99</p> -->
													<p class="product-price"> {{rs.price|number_format}} VND</p>
												</div>
												<div class="clearfix hidden">
													<label class="pull-left">Quantity:</label>
													<input type="number" class="form-control">
												</div>
												<div class="clearfix hidden">
													<label class="pull-left">Total:</label>
													<p class="product-price">$850</p>
												</div>
												<div class="product-icons">
													<div class="product-icon">
														<a href="#" class="product-card-icon" title="Add to Cart"><i class="ion-ios-cart-outline"></i> Add to cart</a>
													</div>
													<div class="product-icon">
														<a href="#" class="product-compare" title="Compare"><i class="ion-ios-shuffle"></i></a>
													</div>
													<div class="product-icon">
														<a href="#" class="product-wishlist" title="Wishlist"><i class="ion-ios-heart-outline"></i></a>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="box-border block-form">
								<!-- Nav tabs -->
								<nav>
									<ul class="nav nav-pills  nav-justified product-detail">
										<li class="active"><a href="#description" data-toggle="tab">Description</a></li>
										<li><a href="#additional" data-toggle="tab" class="disabled">Additional</a></li>
										<li><a href="#review" data-toggle="tab">Review</a></li>
									</ul>                                   
								</nav>


								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active" id="description">
										<br>

										<hr>
										{{rs.description|raw}}
									</div>
									<div class="tab-pane" id="additional">
										<br>
										<div class="row">
											<div class="col-md-4">
												<hr>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipisicing elit ollit anim id est laborum.
												</p>

											</div>
											<div class="col-md-4 block-color">
												<hr>
												<ul class="colors clearfix list-unstyled">
													<li><a href="" data-rel="003d71"></a></li>
													<li><a href="" data-rel="c42c39"></a></li>
													<li><a href="" data-rel="f4bc08"></a></li>
													<li><a href="" data-rel="02882c"></a></li>
													<li><a href="" data-rel="000000"></a></li>
													<li><a href="" data-rel="caccce"></a></li>
													<li><a href="" data-rel="ffffff"></a></li>
													<li><a href="" data-rel="f9e7b6"></a></li>
													<li><a href="" data-rel="ef8a07"></a></li>
													<li><a href="" data-rel="5a433f"></a></li>
													<li><a href="" data-rel="ff9bb5"></a></li>
													<li><a href="" data-rel="8c56a9"></a></li>
												</ul>

											</div>
											<div class="col-md-4">
												<hr>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipisicing elit ollit anim id est laborum.
												</p>
											</div>
										</div>

									</div>
									<div class="tab-pane" id="review">
										<br>
										<div class="row">
											<div class="col-md-12">
												<hr>
												<div class="review-header">
													<h5>John Smith</h5>
													<div class="product-rating">
														<div class="stars">
															<span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
														</div>
													</div>
													<small class="text-muted">26/06/2014</small>
												</div>
												<div class="review-body">
													<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

												</div>
												<hr>
												<div class="review-header">
													<h5>Tom Carry</h5>
													<div class="product-rating">
														<div class="stars">
															<span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
														</div>
													</div>
													<small class="text-muted">05/07/2014</small>
												</div>
												<div class="review-body">
													<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

												</div>
												<hr>
											</div>
										</div>
										<form role="form" method="post" action="#">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="inputFirstName" class="control-label">First Name:<span class="text-error">*</span></label>
														<div>
															<input type="text" class="form-control" id="inputFirstName">
														</div>
													</div>


												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="inputCompany" class="control-label">Company:</label>
														<div>
															<input type="text" class="form-control" id="inputCompany">
														</div>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<textarea class="form-control">    </textarea>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label  class="control-label">Your Rate:</label>
														<div class="product-rating">
															<div class="stars">
																<span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<input type="submit"  class="btn-default" value="Add Review">
										</form>
									</div>
								</div>
							</div>
						</div>
						
					

{% endblock %}


{% block custom_css %}

{% endblock %}


{% block custom_js %}
<script>

</script>
{% endblock %}
